# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*
credentials.json

# Secrets & keys
*.pem
*.key
*.json
!*.example.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
